html, body {
  margin: 0;
  padding: 0;
  background-color: #ffbdf4
}
canvas {
  display: block;
}

h1 {
  color: #fc03d3
}

h2{
  color: #fc21d8

}

p{
  color: #f553da
}

ul{
  color: #ff4ae1
}
 h3{
   color: #ff38de
 }
