html, body {
  margin: 0;
  padding: 0;
  background-color: #ffbae0
}
canvas {
  display: block;
}

h1 {
  color: #fc03d3
}

h2{
  color: #f525d3

}

p{
  color: #fa69e3
}

ul{
  color: #fa52df
}
 h3{
   color: #f73bd9
 }
